* {
    box-sizing: border-box;
}

html, body {
    font-family: arial, sans-serif;
}

a {
    text-decoration: underline;
    color: #111111;
}

h1 {
    margin: 0.4em 0;
}

.delayed {
    color: #da2626;
}

.disabled {
    opacity: 0.7;
    cursor: default;
    pointer-events: none;
}

/**
 * HEADER
 */

body > header {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #eee;
    padding-bottom: 8px;
}

body > header a {
    padding: 10px;
    display: inline-block;
    text-decoration: none;
    color: #111111;
}

body > header a.active {
    text-decoration: underline;
}


/**
 * TABLE
 */

.table {
    border-collapse: collapse;
    border: none;
    min-width: 100%;
}

.table th,
.table td {
    padding: 5px 10px;
    border-left: 2px solid #ffcbab;
}

.table th {
    text-align: left;
    background-color: #fc9c3f;
    border-radius: 3px;
    border-color: #fff;
}

.table tr:nth-child(even) {
    background-color: #ffe8da;
}

.table td:first-child,
.table th:first-child {
    border-left: none;
}

.table td div.scrollable {
    white-space: pre-wrap;
    max-height: 120px;
    overflow-y: scroll;
}

/**
 * ALERT
 */

.alert {
    padding: 10px;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
    color: #fff;
}

.alert.success {
    background-color: #52903b;
}

.alert.failure {
    background-color: #c03b3b;
}

.alert > button {
    padding: 0;
    font-size: 0.7em;
    font-weight: bold;
    padding: 10px 20px;
    margin: -10px;
    color: #fff;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

/**
 * BUTTON
 */

.button {
    border-radius: 3px;
    font-size: 1em;
    border: 2px solid transparent;
    background-color: #dedede;
    min-width: 100px;
    transition: background 200ms ease;
    padding: 4px 8px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
}

.button:focus {
    border: 2px solid #4C9AFF;
}

.button:hover {
    cursor: pointer;
    background-color: #bababa;
}

.button.primary {
    background-color: #fc9c3f;
}

.button.primary:hover {
    background-color: #faaa5c;
}

.button.small {
    font-size: 0.8em;
    padding: 2px 4px;
}

/**
 * FORM: DEFAULT INPUT
 */

label {
    display: block;
    padding: 10px 0;
}

label .title {
    font-size: 0.75em;
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 3px;
}

label .title small {
    text-transform: none;
    font-size: inherit;
    font-weight: normal;
}

label input,
label select {
    font-size: 1em;
    padding: 5px;
    border: 1px solid #111;
    width: 100%;
    border-radius: 3px;
}

textarea {
    border-radius: 3px;
    border: 1px solid #111;
    font-size: 1em;
    padding: 5px;
    width: 100%;
    min-height: 200px;
    font-family: arial, sans-serif;
    resize: vertical;
}

body.newrentalprocess.write_comment form textarea ~ .button {
    margin-top: 10px;
}

label input:focus,
label select:focus {
    border: 2px solid #4C9AFF;
    padding: 4px;
}

label select {
    padding: 4px;
}

label select:focus {
    padding: 3px;
}

/**
 * FORM: SEARCH
 * The search button is position next to the query field
 */

.search-form {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
}

.search-form .query {
    flex-grow: 1;
    margin-left: 10px;
}

.search-form .button {
    align-self: flex-end;
    padding: 4px;
    margin: 10px 0 10px 10px;
}


/**
 * FORM: FIELDSET
 */

fieldset {
    border: none;
    border-top: 3px solid #fc9c3f;
    padding: 0;
    margin: 0 10px;
    flex-grow: 1;
}

fieldset legend {
    color: #fc9c3f;
    font-size: 1.4em;
    padding: 0 10px 0 0;
}

fieldset.row {
    display: flex;
}

fieldset.row label {
    flex-grow: 1;
    margin-right: 10px;
}

form > footer {
    display: flex;
    justify-content: space-between;
}

/**
 * FORM: DETAIL PAGES
 */

.flexible-form {
    padding: 10px 0;
    margin-top: -20px;
}

.flexible-form .flexible-form-row {
    display: flex;
    justify-content: space-between;
    margin: 20px -10px;
}

.flexible-form footer.flexible-form-row {
    margin: 20px 0;
}

body.select_time .flexible-form > div {
    align-items: end;
}

.with-sidebar {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.with-sidebar > div {
    flex-grow: 1;
}

.with-sidebar > aside {
    width: 300px;
    background-color: #ececec;
    padding: 10px 0;
    border-radius: 10px;
    margin-left: 30px;
}

/**
 * MAIN HEADER AND FOOTER
 */

main > header,
main > footer {
    display: flex;
    justify-content: space-between;
    margin: 0 -5px;
    padding: 5px 0;
}

main > header .button,
main > footer .button {
    margin: 0 5px;
}

/**
 * NEW RENTAL PROCESS
 */

.checkout {
    display: flex;
    justify-content: space-between;
}

.checkout .select-time .button.primary {
    margin-bottom: 10px;
}

.checkout .selection-form {
    flex-grow: 1;
}

.checkout aside {
    width: 400px;
}

.checkout aside section {
    margin: 10px 0;
}

.checkout aside .title {
    font-weight: bold;
    text-decoration: none;
}

.checkout aside a.active {
    text-decoration: underline;
}

.checkout aside footer {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}

.checkout aside ul {
    padding-left: 1em;
}

.checkout aside .remove.button {
    min-width: auto;
    font-size: 0.5em;
    font-weight: bold;
    padding: 2px 4px;
    margin-left: 5px;
    position: relative;
    top: -3px;
}

/**
 * LOGIN
 */

body.auth.login_form {
    max-width: 300px;
    margin: 0 auto;
}

form.login .button {
    width: 100%;
}

/**
 * DELAYED BADGE
 */

#delayed-badge {
    display: none;
}

#delayed-badge.is-delayed {
    opacity: 1;
    color: #da2626;
    border: 2px solid #da2626;
    padding: 2px 6px;
    border-radius: 3px;
    text-align: center;
    display: inline-block;
    min-width: 40px;
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.rentalprocess.history .form-reset {
    display: inline-block;
}

.login_form #delayed-badge {
    width: 100%;
    margin-top: 50px;
    padding: 20px 4px;
    border-width: thick;
}

.meter {
    font-family: monospace;
    float: right;
    font-size: 1.2em;
}

.password-strength-0 .meter,
.password-strength-1 .meter {
    color: #c03b3b;
}

.password-strength-2 .meter,
.password-strength-3 .meter {
    color: #fc9c3f;
}

.password-strength-4 .meter {
    color: #52903b;
}

.pagination {
    margin-bottom: 9px;
}

.pagination .info {
    display: flex;
    align-items: center;
}
